body {
    background-image: url('clinica02.jpg');
    background-size: cover; 
   
}
.container {
    background-color: rgba(8, 109, 116, 0.637);
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}